<script lang="ts">
/**
 *
 * Home view component
 *
 */

import { Component, Vue } from "vue-property-decorator";
@Component({
  name: "Home"
})
export default class Home extends Vue {
  created() {
    console.log("Created ");
  }
}
</script>

<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <h1>Hello from the vue js component</h1>
  </div>
</template>
